# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# OS system files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
